@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&family=Satisfy&family=Tangerine&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Satisfy', cursive;
}

/* NAVIGATION & HOME SECTION */
.hero{
    position: relative;
    background-color: rgb(46, 46, 46);
    background-size: cover;
    background-position: right;
    height: 100vh;
    width: 100%;
}
.bck-image{
    position: absolute;
    right: 5px;
    top: 5px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: rgb(255, 255, 255);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #f9004d;
}
nav ul li{
    position: relative;
    z-index: 10;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: #fff;
    font-size: 1.5rem;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
.btn{
    background-color: #f9004d;
    color: #fff;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 3.5rem;
    letter-spacing: 0.6rem;
}
h3{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 1.8rem;
    font-weight: 100;
}
.newsletter form{
    margin-top: 5%;
    position: relative;
    max-width: 100%;
    width: 380px;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: #f9004d 2px solid;
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: #fff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

/* ABOUT SECTION */
.about{
    width: 100%;
    padding: 100px 0px 0px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 550px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: #fff;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 0.5rem;
}
.about-text h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: 100;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 1.5rem;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/* SERVICE SECTION */
.service{
    background: rgb(46, 46, 46);
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: #fff;
    font-size: 2rem;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5{
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfc;
    font-size: 1.1rem;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: 600;
    padding: 5px 25px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer; 
    font-weight: 100;  
}

/* CONTACT ME SECTION */
.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-two{
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 6px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/* FOOTER SECTION */
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: #fff;
    font-size: 1.4rem;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 1.5rem;
}